/* AdminPanel.module.css */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e0e0e; /* Тёмный фон */
  color: #fff;
  gap: 75px;
  margin-left: 100px;
}

.card {
  background-color: #343a40; /* Серый фон карточки */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 400px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.input-group {
  display: flex;
  gap: 8px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #495057;
  border-radius: 4px;
  background-color: #495057;
  color: #fff;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  background-color: #007bff;
  color: #fff;
}

.button-primary:hover {
  background-color: #0056b3;
}

.button-success {
  background-color: #28a745;
  color: #fff;
}

.button-success:hover {
  background-color: #218838;
}

.login-wrapper {
  padding: 20px;
  text-align: center;
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0px;
}

.login-input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #495057;
  color: #fff;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.login-button:hover {
  background-color: #0056b3;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #767676;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  color: #d9d9d9;
}

/* Кнопка для отправки рассылки */
.button-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: #0056b3;
}

.mt-2 {
  margin-top: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.adminPanel {
  display: flex;
  min-height: 100vh;
  background-color: #0e0e0e;
  color: #fff;
}

.sidebar {
  width: 500px;
  background-color: #343a40;
  padding: 20px;
  overflow-y: auto;
}

.sidebar h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.reviewList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.reviewItem {
  display: flex;
  gap: 8px;
  background-color: #495057;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewItem p {
  margin: 0;
  flex: 1;
  font-size: 14px;
}

.button-danger {
  background-color: #dc3545;
  color: #fff;
}

.button-danger:hover {
  background-color: #c82333;
}

.content {
  min-width: 200px;
  width: 400px;
  flex: 1;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form h3 {
  margin-bottom: 10px;
}
